:root{
 
    --page1-color: green;
    --page2-color: blue;
    --page3-color: orange;
    --page4-color: yellow;
    --animation-speed: 500ms;

}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
    color: aliceblue;
    margin: 0;
    padding:0;
    overflow: hidden;

}


/*Page Colors*/
#page-1 {background-color: var(--page1-color);}
#page-2 {background-color: var(--page2-color);}
#page-3 {background-color: var(--page3-color);}
#page-4 {background-color: var(--page4-color);}

.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 4rem;
}

.page h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin: 1rem;
}

.page p {   
    font-size: 1.3rem;
}

.btn{
    display: inline-block ;
    padding: 1rem 2rem ;
    background-color: aliceblue;

    color: black;
    text-decoration: none;
    border: none;
    transition: all 0.5s ease-in;
}

.btn:hover ,
.btn-dark{
background-color: black;
color: aliceblue;
}

.btn-dark:hover{
    background: white;
    color: black;

}



/*page animation*/

#page-1 h1 {
    transform: translateY(-1200px);
    animation: heading var(--animation-speed) forwards ease-in;
}


#page-1 p {
    transform: translateX(-2000px);
    animation: parag var(--animation-speed) forwards ease-in;
    animation-delay: 1s;
}



/*Keyfreams*/


@keyframes heading{
    to {
        transform: translateY(0);
    }
}

@keyframes parag{
    to {
        transform: translatex(0);
    }
}